.sidebar {
    display: flex;
    flex-direction: column;
    flex: 22%;
    padding: 2rem 2rem 0 2rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.sidebar-header {
    flex-grow: 0;
    align-self: center;
}

.sidebar-menu {
    flex-grow: 0;
    width: 100%;
    margin: 0 auto;
    padding: 6rem 0;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 40% 40%;
    grid-template-areas: 
    "firstfirst firstsecond" 
    "secondfirst secondsecond"
    "thirdfirst thirdsecond";
    gap: 30px 5px;
    place-content: center center;
}

.sidebar-item {
    place-self: center center;
    padding: 1rem;
}