@import 'sidebar.css';
@import 'buttons.css';
@import 'footer.css';
@import 'utils.css';
@import 'calculator.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #f4f5f7;
    --tertiary-color: #008779;
    --accent-color: #ffffff;
    --text-color: #000000;
    --operation-color: #191923;
    --greyed-out-color: #62646B;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Quicksand', Helvetica, sans-serif;
}

.body-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 68%;
    padding: 2rem 2rem 0 2rem;
    background-color: var(--primary-color);
    color: var(--text-color);
}